html, body {
    background-color:  #21232a;
    color:  #fff;
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button {
    padding: 15px;
    border-radius: 5px;
    min-width: 50px;
    height: 50px;
    font-weight: bold;
    border: none;
    margin-right: 5px;
}